<div class="flex h-screen flex-col md:flex-row bg-gray-900">
  <!-- Coluna da esquerda -->
  <div class="flex items-center justify-center w-full md:w-1/2 relative h-full">
    <!-- Background mobile -->
    <div class="absolute inset-0 md:hidden">
      <img src="https://w0.peakpx.com/wallpaper/518/101/HD-wallpaper-native-pattern-abstract-colors.jpg" alt="Background"
           class="w-full h-full object-cover opacity-50">
    </div>

    <!-- Card de login -->
    <div class="w-full max-w-md mt-[4rem] md:mt-0 relative z-10 md:z-auto m-4 bg-gray-800 shadow-lg rounded-lg p-4">
      <div class="text-center mb-4">
        <img src="https://png.pngtree.com/png-vector/20220704/ourmid/pngtree-illustration-of-stylized-african-mask-png-image_5558159.png"
             alt="Logo" class="w-[6rem] h-[6rem] mx-auto mb-2">
        <h2 class="text-xl font-bold text-gray-100">Entre na sua Tribo</h2>
        <p class="text-gray-400 mt-1">Estamos felizes que você voltou! Faça login e conecte-se com sua tribo.</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="block text-gray-300 mb-1">Email</label>
          <input type="text" id="email" formControlName="email"
                 class="w-full border rounded-lg p-2 bg-gray-700 text-gray-100"
                 placeholder="Digite seu email"
                 [ngClass]="{'border-red-500': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
          <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 block">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">Email é obrigatório.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido.</span>
          </small>
        </div>

        <!-- Senha -->
        <div class="mb-3">
          <label for="password" class="block text-gray-300 mb-1">Senha</label>
          <input type="password" id="password" formControlName="password"
                 class="w-full border rounded-lg p-2 bg-gray-700 text-gray-100"
                 placeholder="Digite sua senha"
                 [ngClass]="{'border-red-500': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
          <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 block">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória.</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Senha deve ter pelo menos 6 caracteres.</span>
          </small>
        </div>

        <!-- Esqueceu a senha -->
        <div class="flex justify-between mb-4">
          <button type="button" class="text-sm text-blue-400 hover:underline" (click)="goToForgotPassword()">Esqueceu sua senha?</button>
        </div>

        <!-- Botão de login -->
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600"
                [disabled]="loginForm.invalid">Entrar</button>

        <!-- Cadastro -->
        <div class="text-center mt-4">
          <p class="text-gray-400">Ainda não tem conta?</p>
          <button type="button" class="text-blue-400 hover:underline" (click)="goToRegister()">Cadastrar-se</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Coluna da direita (desktop) -->
  <div class="hidden md:flex w-1/2">
    <img src="https://w0.peakpx.com/wallpaper/518/101/HD-wallpaper-native-pattern-abstract-colors.jpg" alt="Background"
         class="w-full h-full object-cover opacity-50">
  </div>
</div>
